<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- add required permission -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeasureUserActions"
        tools:targetApi="31">

        <!-- register the service -->
        <service
            android:name=".ForegroundService"
            android:enabled="true"
            android:exported="true"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Početna">
        </activity>
        <activity
            android:name=".EnterExerciseUrlActivity"
            android:exported="true"
            android:noHistory="true"
            android:label="MeasureUserActions">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="Popis zadataka"
            android:name=".ZadataciActivity"
            android:exported="true">
        </activity>
        <activity
            android:label="Zadatak"
            android:name=".ZadatakActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>